<h1>タスク一覧</h1>

<% if @alltasks.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Status</th>
	<th>User</th>
      </tr>
    </thead>
    <tbody>
      
<% @alltasks.each do |task| %>
      
      <tr>
        <td>
          
<% if logged_in? %>
  <% if !@tasks.first.nil? %>
    <% if task.user_id == @tasks.first.user_id %>
      <%= link_to task.id, task %>
    <% else %>
      <%= task.id %>
    <% end %>
  <% else %>
    <%= task.id %>     
  <% end %>

<% else %>
  <%= task.id %>
<% end %>
        </td>
        <td>

<%= task.content %>

        </td>
        <td>

<%= task.status %>          

        </td>
	<td>

<%= @allusers.find(task.user_id).name %>	
	</td>
      </tr>

<% end %>
 
    </tbody>
  </table>

  
<% end %>

<% if logged_in? %>
<%= link_to '新規タスクの追加', new_task_path, class: "btn btn-primary" %>
<% end %>
